// SASS variables
$accentDark: #023047;
$accentLight: #fb8500;
$highlight: #219ebc;
$dark: #8ecae6;
$light: #ffb703;

// Override bootstrap styles here. 
// See https://getbootstrap.com/docs/4.0/getting-started/theming/#theme-colors for some pointers

$questionBg: #a780a6;
$answerBg: #fefdb0;
$questionText: #1f2572;
$answerText: #c71d2b;